.slick-slide {
  padding: 0 12px;
}

.window {
  display: block;
  width: 100%;
  height: 450px;
  padding-bottom: 40px;
}

.presentation-slide {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
