.contacts-slider .slick-slider {
  max-width: 110vw;
  width: 100%;
}

.contacts-slider .panel {
  display: block;
  margin-left: -150px;
  width: calc(100% + 150px);
}

@media screen and (max-width: 1280px) {
  .contacts-slider .panel {
    margin-left: 0;
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
 .image-cover{
   display: none;
 }

}
